//the code helps whe restoring the length of an element whos children have been floated.
@mixin clearfix{
    &::after{
        content:"";
        display:table;
        clear:both;    //clearing both the float left and float right.
    }
}